/* Position elements to match your wireframe
Add styling to your header and footer
Incorporate the design elements you decided last week into your site
Format any images you've added */
* {
  background-color:#BCD2EE;


}
Header {
  font-size: 30px;
  font-family: Helvetica;
}
nav {

}
main {

}
img {

}
