* {
  margin:0;
  color:black;
  font-family:helvetica;
}
header {
  background-color: white;
  position:fixed;
  width:100%;
  top:0px;
  height:auto;
  border-bottom: 2px solid black;
  display:block;
  font-size: 20px;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
  margin:0px auto 0px 10px;
  color:black;
}
header a:hover {
  font-weight: bold;
  color:#2E4DE4;
  text-decoration: none;
}
#Name {
  float:right;
  margin:0px 25px 0px auto;
  font-size:20px;
  color:#2E4DE4;
}
#C {
  font-weight: bold;
  color:black;
}
#B {
   font-weight: bold;
   color:black;
   }
#left {
background-color:#e6e6e6;
float:left;
position:fixed;
width:100px;
height:100%;
margin-top: 10px;
border-right: 2px solid black;
padding: 30px 0 0 10px;
}
#left a {
  text-decoration: none;
}
#left a:hover {
font-weight: bold;
color:#2E4DE4;
}
#content {
  margin: 15px 20% 5px 20%;
  white-space: pre-line;
}
article {
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}
footer {
  text-align: center;
  margin:10px auto 10px auto;
  color:gray;
}
footer span {
  font-weight: bold;
  color:gray;
}
pre {
  display: block;
  background-color:#e6e6e6;
  clear:both;
  width: auto;
  padding: 0 10px 0 10px;
  min-width: 150px;
  margin: 0 auto 0 auto;
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
}
