* {
  /*background-color:#ffffff;*/
  color:black;
  font-family:helvetica;
}
header {
  background-color: white;
  position:fixed;
  width:100%;
  top:0px;
  height:auto;
  border-bottom: 2px solid black;
  display:block;
  font-size: 20px;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
  margin:0px auto 0px 10px;
  color:black;
}
header a:hover {
  font-weight: bold;
  color:#2E4DE4;
  text-decoration: none;
}
header > a + a:hover {
  color:green;
}
header > a + a + a:hover {
  color:red;
}

#Name {
  float:right;
  margin:0px 25px 0px auto;
  font-size:20px;
  color:#2E4DE4;
}
#C {
  font-weight: bold;
  color:black;
}
#B {
   font-weight: bold;
   color:black;
 }
img {
  margin: -227px 0 -21px 0 ;
}
h3{
  background-color: white;
  font-weight: 600;
  font-style: bold;
  font-weight: bold;
  padding:20px 10% 5px 10%;
  display:block;
  border-top: 3px solid black;

}
article {
  background-color:#e6e6e6;
  padding: 5px 40px 5px 40px;
  width: auto;
  float: left;
  margin: 0 10% 0 10%;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
footer {
  text-align: center;
  margin:20px auto 10px auto;
  color:gray;
}
footer span {
  font-weight: bold;
  color:gray;
}